.languageDropdown {
    display: grid;
    grid-template-columns: auto;
}

.languageDropdown .all-languages {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.languageDropdown .languageSelect {
    justify-self: center;
    width: 190px;
    overflow: auto;
}

.languageDropdown .languageSelect .languageIcon {
    align-self: center;
    justify-self: center;
}

.languageDropdown .languageSelect .languageSelectContainer {
    display: grid;
    grid-template-columns: 48px auto;
    border: 1px solid var(--color-text-primary);
    color: var(--color-text-primary);
    border-radius: 25px;
    padding: 0 6px;
}

.languageDropdown .languageSelect select {
    padding: 6px 4px 6px 12px;
    margin: 0 4px 0 -12px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-text-primary);
    align-self: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    text-overflow: ellipsis;
    max-width: 100%;
}

.languageDropdown .languageSelect select:focus {
    font-weight: bold;
    outline: none;
}
