.languageDropdown {
  display: grid;
  grid-template-columns: auto;
  margin-top: 20px;
}

.languageDropdown .preferredLanguage {
  align-self: center;
  margin: 0;
}

.languageDropdown .languageSelect {
  justify-self: center;
}

.languageDropdown .languageSelect .languageIcon {
  align-self: center;
  justify-self: center;
}

.languageDropdown .languageSelect .languageSelectContainer {
  display: grid;
  grid-template-columns: 40px auto;
  width: 155px;
  background-color: #2A4EF5;
  color: white;
  border-radius: 8px;
}

/* .languageDropdown .languageSelect .languageSelectContainer  {
  font-size: 5rem;
} */

.languageDropdown .languageSelect select {
  padding: 12px 0 12px 36px;
  margin: 0 4px 0 -36px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  align-self: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.2rem;
}

.languageDropdown .languageSelect select:focus {
  font-weight: bold;
  outline: none;
}
