.Navbar {
    background-color: var(--color-brightSky);
    margin: 0 -2rem;
    padding: 0 2rem;
}

.Navbar {
    margin-top: -2rem;
    display: grid;
    grid-template-columns: 94px auto;
    grid-template-rows: 73px;
    justify-content: space-between;
    align-items: center;
}

.Navbar .logo {
    width: 94px;
    height: auto;
}

.Navbar .NavLinks {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 2rem;
    align-items: center;
}

.Navbar .NavLinks a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-text-primary);
}

@media only screen and (max-width: 600px) {
    .Navbar .NavLinks .languageDropdown {
        display: none;
    }
}
