.EditQuestionnaires .questionnaire-section-title {
    font-weight: 900;
    margin: 2rem 0 1rem;
}

.EditQuestionnaires .li {
    font-weight: 900;
    margin: 2rem 0 1rem;
    color: white;
}
.EditQuestionnaires .delete {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    margin: auto;
    background: #fa6900;
    color: #fff;
    opacity: 0.3;
}
