.ProcessOverview {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
}

/* .ProcessOverview .welcome-message {
    text-align: center;
} */

.ProcessOverview .welcome-message {
    color: var(--color-text-primary);
}

.ProcessOverview .welcome-message .line2 {
    grid-column-start: 1;
    font-size: 1.5rem;
    font-weight: 500;
}

.ProcessOverview .welcome-message .line3 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 12px;
}

.ProcessOverview .gridContainer {
    display: grid;
    justify-content: center;
    padding: 3rem 0;
}

.ProcessOverview .stepsGrid .stepContainer {
    display: grid;
    grid-template-rows: 24px 115px 36px auto;
    justify-items: center;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
        0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    padding: 12px 24px;
}

.ProcessOverview .stepContainer .stepNumber {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-darkGray);
}

.ProcessOverview .stepContainer .stepTitle {
    font-size: 20px;
    font-weight: 600;
}

.ProcessOverview .stepIcon {
    display: grid;
    grid-template: 100% / 100%;
    justify-items: center;
    align-items: center;
}

.ProcessOverview .stepIcon .stepSVG {
    grid-row-start: 1;
    grid-column-start: 1;
}

.ProcessOverview .stepIcon .blob {
    grid-row-start: 1;
    grid-column-start: 1;
}

.ProcessOverview .stepContainer .stepDescription {
    text-align: center;
}

.ProcessOverview .startButtonContainer {
    text-align: center;
    margin-bottom: 2rem;
}

@media only screen and (min-width: 1025px) {
    .ProcessOverview .welcome-message h1 {
        font-size: 3rem;
        margin-bottom: 10px;
    }

    .ProcessOverview .stepsGrid {
        display: grid;
        grid-template-columns: 300px 48px 300px 48px 300px;
        align-items: center;
    }
}

@media only screen and (max-width: 1024px) {
    .ProcessOverview .welcome-message h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .ProcessOverview .stepsGrid {
        display: grid;
        grid-template-rows: auto 48px auto 48px auto;
        grid-template-columns: 300px;
        justify-items: center;
    }

    .ProcessOverview .stepsGrid .arrow {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
