.TextArea {
    border: 2px solid var(--color-foggyBlue);
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px 12px;
    width: 100%;
    outline: none;
}

.TextArea[touched='true']:focus {
    border: 2px solid #0072ff;
}



.RequiredError {
    display: none;
    color: var(--color-secondary);
}
