.LandingPage {
    max-width: 900px;
    margin: auto;
    padding: 36px;
}

.LandingPage .content {
    display: grid;
    grid-template-columns: auto 345px;
    grid-template-rows: auto;
    gap: 100px;
}

.LandingPage h1 {
    font-size: 3rem;
    margin: 0 0 48px;
}

.LandingPage .description {
    margin-bottom: 48px;
}

.LandingPage .description h2,
p {
    margin: 0 0 12px;
}

.LandingPage img {
    grid-column-start: 2;
    display: block;
}

.description.last {
    margin-bottom: 39px;
}
