.progressBar {
    display: grid;
    justify-content: center;
    padding: 3rem 0;
}

.progressBar .linesGridContainer {
    position: absolute;
    width: 600px;
    left: 0;
    right: 0;
    margin: 111px auto 0;
}

@media only screen and (min-width: 1025px) {
    .progressBar .stepsGrid {
        display: grid;
        grid-template-columns: repeat(3, 220px);
        gap: 80px;
    }

    .progressBar .linesGrid {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 1024px) {
    .progressBar .stepsGrid {
        display: grid;
        grid-template-rows: repeat(3, auto);
        gap: 64px;
    }
}

.progressBar .stepsGrid .stepContainer {
    display: grid;
    grid-template-rows: 34px 42px 80px auto;
    justify-items: center;
    color: var(--color-primary);
}

.progressBar .stepContainer .stepNumber {
    font-size: 28px;
    font-weight: 700;
}

.progressBar .stepContainer .stepTitle {
    font-size: 28px;
    font-weight: 400;
}

.progressBar .stepContainer .stepIcon {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: #f3f3f3;
    display: grid;
    justify-items: center;
    align-content: center;
}

.progressBar .stepIcon .stepSVG {
    width: 50px;
}

.progressBar .incomplete {
    color: #e6e6e6;
}

.progressBar .progressLine1 {
    border-bottom: 5px solid;
    z-index: -1;
}
.progressBar .progressLine2 {
    border-bottom: 5px solid;
    z-index: -1;
}
