.TextInput {
    border: 2px solid var(--color-bluegray);
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px 12px;
    width: 100%;
    outline: none;
}

.TextInput[touched='true']:focus {
    border: 2px solid #0072ff;
}

.TextInput[touched='true']:invalid {
    border: 2px solid var(--color-secondary);
}
