.Question {
    border: none;
    padding: 1rem;
}

.Question .QuestionText {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.QuestionInput:invalid {
    border: 2px solid var(--color-secondary);
}

.Question .RequiredError {
    visibility: hidden;
    color: var(--color-secondary);
}

.TextInput:invalid[data-touched='true'] ~ .RequiredError {
    visibility: visible;
}

.RadioButton:invalid[data-touched='true'] .RequiredError {
    color: blue;
    visibility: visible;
}

.RadioGroup:last-child {
    color: blue;
}
