.MainContainer {
    height: 100%;
}

.MainContainer .wrapper {
    background-color: white;
    min-height: 100%;
    height: 100%;
}

.MainContainer .items {
    grid-column-start: 1;
    margin-bottom: 168px;
}

.blur {
    filter: blur(12px);
    -webkit-filter: blur(12px);
}
