.MainContainer {
}

.items {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main';
}

.items > .Navbar {
    grid-area: header;
}

.items > .main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto;
}

.items > .footer {
    grid-area: 2 / 1 / 3 / 4;
}

.items > .main > .section {
    padding: 1rem;
}

.MainContainer .wrapper {
    background-color: white;
}

.blur {
    filter: blur(12px);
    -webkit-filter: blur(12px);
}
