.MainContainer {

}

.MainContainer .wrapper {
  display: grid;
  grid-template-columns: minmax(240px, 1fr);
}

.MainContainer .items {
  grid-column-start: 1;
}

.blur {
  filter: blur(12px);
  -webkit-filter: blur(12px);
}
