.QuestionnaireIntro {
}

.QuestionnaireIntro h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 1rem 0;
}

.QuestionnaireIntro h2 {
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 0.5rem 0;
}

.QuestionnaireIntro ul {
    list-style-type: none;
    margin: 0.5rem 0;
}

.QuestionnaireIntro ul li::before {
    content: '\2022';
    color: var(--color-red);
    font-weight: 900;
    display: inline-block;
    margin: 0 11px 8px -6px;
}

.QuestionnaireIntro .ButtonContainer {
    margin: 64px 0 16px;
    display: grid;
}
