.Questionnaire {
    max-width: 600px;
    margin: auto;
}

.Questionnaire .Question {
    border: none;
    padding: 1rem;
}

.Questionnaire .Question .QuestionText {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.QuestionInput:invalid {
    border: 2px solid var(--color-secondary);
}

.Questionnaire .Question .RequiredError {
    visibility: hidden;
    color: var(--color-secondary);
}

.TextInput:invalid[touched='true'] ~ .RequiredError {
    visibility: visible;
}
