.hubspot {

}

.hubspot .titleText {
  color: #2F3772;
} 

.hubspot .titleText .step {
  margin-top: 100px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

.hubspot .titleText .title1 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.hubspot .titleText .title2 {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.hubspot #hubspotForm {
  margin-top: 20px;
}
