.WorkshopScreening {
    max-width: 900px;
    margin: auto;
}

.WorkshopScreening h1 {
    font-size: 3rem;
    margin: 36px 0 48px;
}

.WorkshopScreening h2,
p {
    margin: 0 0 12px;
}

.WorkshopScreening .QuestionText {
    margin-bottom: 5px;
}

.WorkshopScreening .RadioGroup {
  margin: 2rem 0;
}

.WorkshopScreening button {
    margin-top: 20px;
}

.WorkshopScreening .DatePicker {
  margin: 2rem 0;
}

.WorkshopScreening .nice-dates input {
    border: 2px solid var(--color-bluegray);
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px 12px;
    width: 250px;
    outline: none;
}
