.WorkshopScreening {
    max-width: 900px;
    margin: auto;
}

.WorkshopScreening h2,
p {
    margin: 0 0 12px;
}

.WorkshopScreening .QuestionText {
    margin-bottom: 5px;
}

.WorkshopScreening .RadioGroup {
    margin: 20px 0;
}

.WorkshopScreening button {
    margin-top: 20px;
}

.WorkshopScreening .DatePicker {
    margin: 20px 0;
}

.WorkshopScreening .bulma-calendar-container .datepicker-nav-year {
    border: solid 1px white;
    padding: 2px;
    margin-left: 4px;
    border-radius: 3px;
}
.WorkshopScreening .bulma-calendar-container .datepicker-nav-month {
    border: solid 1px white;
    padding: 2px;
    margin-left: 4px;
    border-radius: 3px;
    padding: 6px;
    width: 100px;
    margin-left: 4px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 8px 6px -6px #474747;
}

.WorkshopScreening .nice-dates input {
    border: 2px solid var(--color-foggyBlue);
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px 12px;
    max-width: 450px;
    outline: none;
}

@media only screen and (min-width: 601px) {
    .WorkshopScreening h1 {
        font-size: 3rem;
        margin: 36px 0 48px;
    }
}

@media only screen and (max-width: 600px) {
    .WorkshopScreening h1 {
        font-size: 2rem;
        margin: 24px 0 24px;
    }

    .WorkshopScreening h2,
    p {
        margin: 0 0 12px;
    }
}
