body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #c8eefc;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#hs-form-iframe-0 {
    display: flex;
    width: 500px;
}

:root {
    --color-primary: #1c3c69;
    --color-primary-light: #2b5ca1;
    --color-secondary: #df1d3b;
    --color-text-primary: black;
    --color-text-secondary: white;
    --color-brightSky: #c8eefc;
    --color-bluegray: #7993b3;
}
