.Navbar {
    background-color: white;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 94px auto;
    grid-template-rows: 73px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px black;
}

.Navbar .logo {
    width: 60px;
    height: auto;
}

.Navbar .NavLinks {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.Navbar .NavLinks h3 {
    text-decoration: none;
    font-size: 18px;
    color: var(--color-text-primary);
}

.Navbar .NavLinks .active {
    font-weight: 800;
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {
    .Navbar {
        padding: 4px;
    }
}
