.LanguageSelection {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.7);
    overflow: auto;
    align-items: center;
    justify-items: center;
}

.LanguageSelection .gridContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh;
    justify-items: center;
    align-self: center;
}

@media only screen and (max-width: 1024px) {
    .LanguageSelection .gridContainer .buttonGrid {
        margin: auto;
        display: grid;
        grid-template-rows: auto;
        gap: 1rem;
        justify-items: center;
        align-items: center;
    }
}

@media only screen and (min-width: 1025px) {
    .LanguageSelection .gridContainer .buttonGrid {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: auto;
        gap: 100px;
        justify-items: center;
        align-items: center;
    }
}
<<<<<<< HEAD
=======

.LanguageSelection .languageButton {
    width: 200px;
    height: 50px;
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
    border-radius: 25px;
    border-style: none;
    overflow: auto;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}

.LanguageSelection .languageButton:hover {
    transform: scale(1.1);
}
>>>>>>> f6a87142ceb5287c9296f778959c162fec7d2306
