




.inner-container {
    transition: visibility 0.2s ease-out;
}

.inner-container.show {
    visibility: visible;
}

.header {
    text-align: center;
    padding: 5px;
    margin-bottom: 17px;
    font-family: Ozxgen, sans-serif;
    font-size: 22px;
    border-bottom: 2px solid blue;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login-input {
    border-radius: 3px;
    border: 2px solid blue;
    transition: border 0.2s ease-out;
    padding: 13px;
    font-size: 19px;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
    margin: 5px 0;
}

.login-input:hover {
    border: 2px solid lightblue;
}

.login-input:focus {
    border: 2px solid lightblue;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.login-input::placeholder {
    color: rgba(15, 15, 15, 0.4);
}

.login-btn {
    padding: 5px 30px;
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    border: 2px solid #417cef;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
    background-color: #417cef;
    color: white;
}

