.LoginBox, .RegisterBox {
    transition: visibility 0.2s ease-out;
}

.LoginBox .show, .RegisterBox .show {
    visibility: visible;
}

.LoginBox .header, .RegisterBox .header {
    text-align: center;
    padding: 5px;
    margin-bottom: 17px;
    font-size: 22px;
    border-bottom: 2px solid blue;
}

.LoginBox .login-form, .RegisterBox .login-form {
    display: grid;
   
}

.LoginBox .input-group, .RegisterBox .input-group {
    display: grid;
    margin-top: 5px;
    margin-bottom: 5px;
}

.LoginBox .login-input, .RegisterBox .login-input {
    border-radius: 3px;
    border: 2px solid blue;
    transition: border 0.2s ease-out;
    padding: 13px;
    font-size: 19px;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
    margin: 5px 0;
}

.LoginBox .login-input:hover, .RegisterBox .login-input:hover {
    border: 2px solid lightblue;
}

.LoginBox .login-input:focus, .RegisterBox .login-input:focus {
    border: 2px solid lightblue;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.LoginBox .login-input::placeholder, .RegisterBox .login-input::placeholder {
    color: rgba(15, 15, 15, 0.4);
}

.LoginBox .login-btn, .RegisterBox .login-btn {
    padding: 5px 30px;
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    border: 2px solid #417cef;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.LoginBox .login-btn:hover,
.login-btn:focus, .RegisterBox .login-btn:hover,
.login-btn:focus {
    background-color: #417cef;
    color: white;
}

